@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Krona+One&family=Krub:wght@200&family=Roboto+Condensed:wght@100&display=swap');

:root {
    --cor-primaria: #111010;
    --cor-secundária: #FFFFFF;
    --cor-terciária: #333333;
    --cor-quartenária: #A9A9A9;
    --font-primaria: 'Krona One';
    --font-secundária: 'Krub';
    --font-terciária: 'Roboto Condensed';
    --font-quartenária: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(https://i.pinimg.com/originals/54/ba/1a/54ba1aebeb5c5c92105f430009db074c.jpg) lightgray 50% / cover no-repeat;
    color: var(--cor-secundária);
    box-sizing: border-box;
}


.left_arrow {
    top: 5%;
    left: 0.5%;
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
    position: absolute;
    background: var(--cor-secundária);
    border-radius: 50%;
    border: 1px dashed black;
    transform: translateY(-50%);
    transition-duration: 0.8s;
    animation-duration: 3s;
    animation: aparecer-botoes 2s;
}

:hover.left_arrow {
    background-color: var(--cor-terciária);
    transition: all 0.2s ease-in-out;
}

.contatos {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin-left: 5px;
    gap: 15px;
}

.contatos h1 {
    font-family: var(--font-secundária);
    font-size: 2.813rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    animation: contato-h1 1.5s;
    animation-duration: 2s;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

:hover.links a{
    transition: all 0.2s ease-in-out;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.733), 0 0 5px rgba(206, 202, 202, 0.705);
}

.contatos a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-secundária);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-secundária);
    animation: contato-link 1.5s;
    animation-duration: 2s;
    transition-duration: 0.8s;
}



.linha {
    animation: linha 1.5s;
    animation-duration: 2s;
}

@media (max-width: 768px) {

    .contatos h1 {
        font-size: 1.875rem;
    }

    .contatos p {
        font-size: 0.75rem;
    }


}